# OS artifacts
.DS_Store
Thumbs.db
Desktop.ini

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
